.banner{
  height: 100vh;
  padding-top: 100px;
  @media all and (max-width: 1920px){
    padding-top: px(100);
  }
  @media all and (max-width: 1024px){
    height: auto;
  }
  @media all and (max-width: 500px){
    height: 100vh;
  }

  &__container{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    @media all and (max-width: 1920px){
      padding-right: 0;
    }
    @media all and (max-width: 768px){
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }
  &__text{
    width: 46%;
    display: flex;
    flex-direction: column;
    height: 100%;
    @media all and (max-width: 768px){
      width: 100%;
      padding-right: px(34);
    }
    @media all and (max-width: 500px){
      padding-right: px(20);
      height: auto;
    }
  }
  &__img{
    width: 50%;
    border-radius: 60px 0 0 60px;
    overflow-y: hidden;
    height: 100%;
    @media all and (max-width: 1920px){
      border-radius: px(60) 0 0 px(60);
    }
    @media all and (max-width: 1024px){
      flex: 1;
    }
    @media all and (max-width: 768px){
      width: 100%;
      height: px(422);
      margin-top: px(24);
    }
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      @media all and (max-width: 768px){
        object-position: top center;
      }
    }
  }
  &__title{
    font-size: min(75px, 6vh);
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 30px;
    margin-top: 6vh;
    @media all and (max-width: 1920px){
      font-size: min(px(75), 6vh);
      margin-bottom: px(30);
    }
    @media all and (max-width: 1024px) {
      font-size: px(32);
    }
    @media all and (max-width: 768px) {
      margin-top: 0;
    }
    @media all and (max-width: 500px) {
      font-size: px(28);
    }
  }
  &__subtitle{
    color: #000;
    font-size: min(36px, 3vh);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 72px;
    @media all and (max-width: 1920px){
      font-size: min(px(36), 3vh);
      margin-bottom: px(72);
    }
    @media all and (max-width: 1024px) {
      font-size: px(24);
    }
    @media all and (max-width: 768px) {
      font-size: px(16);
      margin-bottom: px(24);
    }
  }
  &__buttons{
    display: flex;
    align-items: flex-start;
    flex: 1;
    .button{
      margin-right: 18px;
      width: 282px;
      @media all and (max-width: 1920px){
        margin-right: px(18);
        width: px(282);
      }
      @media all and (max-width: 768px){
        width: calc(50% - px(10));
        min-width: auto;
        &:last-child{
          margin-right: 0;
        }
      }
      span{
        @media all and (max-width: 768px){
          font-weight: 600;
        }
      }
    }
  }
  &__rev{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #F8F8F8;
    border-radius: 8px;
    width: 663px;
    margin-top: 10vh;
    @media all and (max-width: 1920px){
      width: px(663);
      padding: px(15);
      border-radius: px(8);
    }
    @media all and (max-width: 1024px){
      box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.10);
    }
    @media all and (max-width: 768px){
      display: none;
    }
    &-more{
      position: absolute;
      border-radius: 4px;
      border: 3px solid #F8F8F8;
      background: #FFF;
      right: -20px;
      top: -30px;
      padding: 14px 25px;
      display: flex;
      align-items: center;
      color: #515151;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 105%;
      cursor: pointer;
      text-decoration: none;
      transition: $transition;
      @media all and (max-width: 1920px){
        border-radius: px(4);
        right: px(-20);
        top: px(-30);
        padding: px(14) px(25);
        font-size: px(14);
      }
      @media all and (max-width: 1024px){
        box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.10);
      }
      svg{
        margin-left: 14px;
        width: 16px;
        @media all and (max-width: 1920px){
          margin-left: px(14);
          width: px(16);
        }
        path{
          transition: $transition;
        }
      }
      &:hover{
        background-color: #2B2B2B;
        color: #FFFFFF;
        svg{
          path{
            stroke: #FFFFFF;
          }
        }
      }
    }
    &-img{
      width: 173px;
      height: 173px;
      border-radius: 8px;
      overflow-y: hidden;
      @media all and (max-width: 1920px){
        width: px(173);
        height: px(173);
        border-radius: px(8);
      }
      @media all and (max-width: 1024px) {
        width: px(100);
        height: px(100);
      }
    }
    &-content{
      width: calc(100% - 226px);
      @media all and (max-width: 1920px){
        width: calc(100% - px(226));
      }
      @media all and (max-width: 1024px) {
        width: calc(100% - px(140));
      }
    }
    &-title{
      color: #000125;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 123.8%;
      margin-bottom: 17px;
      @media all and (max-width: 1920px){
        font-size: px(24);
        margin-bottom: px(17);
      }
      @media all and (max-width: 1024px) {
        font-size: px(20);
      }
    }
    &-desc{
      color: #919191;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 123.8%;
      @media all and (max-width: 1920px){
        font-size: px(14);
      }
      @media all and (max-width: 1024px) {
        font-size: px(12);
      }
    }
  }
}