.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 19px 0;
  box-shadow: 0px 4px 20px rgba(169, 190, 202, 0);
  transition: 0.3s ease-in-out;
  z-index: 50;
  height: auto;
  background-color: #FFFFFF;
  @media all and (max-width: 1920px){
    padding: px(19) 0;
  }
  @media all and (max-width: 1024px){
    padding: px(16) 0;
  }
  .button{
    span{
      white-space: nowrap;
    }
  }
  .button-white{
    margin-right: 20px;
    @media all and (max-width: 1920px){
      margin-right: px(20);
    }
    @media all and (max-width: 1024px){
      margin-right: 0;
      margin-bottom: px(20);
    }

  }
  &__container{
    display: flex;
    align-items: center;
    @media all and (max-width: 1024px){
      justify-content: space-between;
    }
  }
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    transition: $transition;
    @media all and (max-width: 1024px){
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      transform: translateX(200%);
      width: px(440);
      background-color: #FFFFFF;
      height: 100vh;
      z-index: 100;
      padding-bottom: px(80);
    }
    @media all and (max-width: 500px){
      width: 100%;
    }
    &.active{
      @media all and (max-width: 1024px){
        display: flex;
        transform: translateX(0);
      }
    }
  }
  &__logo{
    width: 319px;
    margin-right: 80px;
    @media all and (max-width: 1920px){
      width: px(319);
      margin-right: px(80);
    }
    @media all and (max-width: 1024px){
      width: px(300);
      margin-right: 0;
    }
    @media all and (max-width: 768px){
      width: px(250);
    }
    img{
      width: 100%;
      height: auto;
    }
  }
  &__burger{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    height: auto;
    @media all and (max-width: 1024px){
      display: flex;
    }
    svg{
      display: none;
    }
    &.active{
      span{
        display: none;
      }
      svg{
        display: block;
      }
    }
    span{
      display: block;
      height: 2px;
      background-color: #000000;
      margin: 10px 0;
      width: 60px;
      @media all and (max-width: 1920px){
        margin: px(10) 0;
        width: px(60);
      }
      @media all and (max-width: 1024px){
        width: px(40);
        margin: px(6) 0;
      }
      @media all and (max-width: 500px){
        width: px(30);
        margin: px(4) 0;
      }
    }
  }
  &__nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
    position: relative;
    @media all and (max-width: 1920px){
      margin-right: px(80);
    }
    @media all and (max-width: 1024px){
      position: relative;
      width: 100%;
      margin-right: 0;
    }
    &-close{
      display: none;
      position: absolute;
      top: px(20);
      right: px(20);
      width: px(40);
      height: px(40);
      @media all and (max-width: 1024px){
        display: block;
      }
      svg{
        width: 100%;
        height: 100%;
      }
    }
    .menu{
      display: flex;
      align-items: center;
      justify-content: center;
      @media all and (max-width: 1024px){
        flex-direction: column;
      }
      li{
        margin: 0 20px;
        @media all and (max-width: 1920px){
          margin: 0 px(20);
        }
        @media all and (max-width: 1440px){
          margin: 0 px(16);
        }
        @media all and (max-width: 1024px){
          margin: px(20) 0;
        }
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
        &.imp-menu{
          a{
            font-size: 20px;
            white-space: nowrap;
            @media all and (max-width: 1920px){
              font-size: px(20);
            }
          }
        }
        a{
          color: #000125;
          font-variant-numeric: lining-nums proportional-nums;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
          letter-spacing: normal;
          text-decoration: none;
          @media all and (max-width: 1920px){
            font-size: px(24);
          }
          @media all and (max-width: 1440px){
            font-size: px(20);
          }
          @media all and (max-width: 1024px){
            font-size: px(26);
          }
        }
      }
    }
  }
  &__button{

  }
  &__language{
    margin-left: 40px;
    @media all and (max-width: 1920px){
      margin-left: px(40);
    }
    @media all and (max-width: 1440px){
      margin-left: px(30);
    }
    @media all and (max-width: 1024px){
      margin-left: 0;
      margin-top: 5vh;
    }
    ul{
      display: flex;
      align-items: center;
    }
    li{
      &:first-child{
        a{
          border-right: 1px solid #000125;
          padding-left: 0;
        }
      }
      &:last-child{
        a{
          border-right: none;
          padding-right: 0;
        }
      }
      &.active{
        a{
          span{
            font-weight: 800;
          }
        }
      }
    }
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      text-decoration: none;
      transition: 0.3s ease-in-out;
      padding-right: 20px;
      @media all and (max-width: 1920px){
        padding-left: px(20);
        padding-right: px(20);
      }
      span{
        color: #000125;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        transition: 0.3s ease-in-out;
        @media all and (max-width: 1920px){
          font-size: px(20);
        }
      }
    }
  }
}


//.header{
//    width: 100%;
//    position: fixed;
//    top: 0;
//    left: 0;
//    padding: 19px 0;
//    box-shadow: 0px 4px 20px rgba(169, 190, 202, 0);
//    transition: 0.3s ease-in-out;
//    z-index: 50;
//    height: auto;
//    background-color: #FFFFFF;
//    @media all and (max-width: 1920px){
//        padding: px(19) 0;
//    }
//    @media all and (max-width: 1024px){
//        padding: px(16) 0;
//    }
//    &__container{
//        display: flex;
//        align-items: center;
//        @media all and (max-width: 1024px){
//            justify-content: space-between;
//        }
//    }
//    &__wrapper{
//        display: flex;
//        justify-content: flex-end;
//        align-items: center;
//        flex: 1;
//        transition: $transition;
//        padding-right: 47px;
//        @media all and (max-width: 1920px){
//            padding-right: px(47);
//        }
//        @media all and (max-width: 1024px){
//            flex-direction: column;
//            position: fixed;
//            top: 0;
//            right: 0;
//            transform: translateX(200%);
//            width: px(440);
//            background-color: #FFFFFF;
//            height: 100vh;
//            z-index: 100;
//            padding-bottom: 5vh;
//        }
//        @media all and (max-width: 500px){
//            width: 100%;
//        }
//        &.active{
//            @media all and (max-width: 1024px){
//                display: flex;
//                transform: translateX(0);
//            }
//        }
//    }
//    &__logo{
//        width: 319px;
//        margin-right: 80px;
//        @media all and (max-width: 1920px){
//            width: px(319);
//            margin-right: px(80);
//        }
//        @media all and (max-width: 1024px){
//            width: px(300);
//            margin-right: 0;
//        }
//        @media all and (max-width: 768px){
//            width: px(250);
//        }
//        img{
//            width: 100%;
//            height: auto;
//        }
//    }
//    &__burger{
//        flex-direction: column;
//        justify-content: center;
//        align-items: center;
//        cursor: pointer;
//        z-index: 100;
//        background-color: #000125;
//        width: 60px;
//        height: 60px;
//        border-radius: 9px;
//        display: flex;
//        @media all and (max-width: 1920px){
//            width: px(60);
//            height: px(60);
//            border-radius: px(9);
//        }
//        @media all and (max-width: 1024px){
//            display: flex;
//        }
//        &.active{
//            display: none;
//        }
//        span{
//            display: block;
//            height: 2px;
//            background-color: #FFF;
//            margin: 3px 0;
//            width: 25px;
//            @media all and (max-width: 1920px){
//                margin: px(3) 0;
//                width: px(25);
//            }
//            @media all and (max-width: 1024px){
//                width: px(40);
//                margin: px(6) 0;
//            }
//            @media all and (max-width: 500px){
//                width: px(30);
//                margin: px(4) 0;
//            }
//        }
//    }
//    &__nav{
//        flex: 1;
//        display: none;
//        align-items: center;
//        justify-content: center;
//        margin-right: 80px;
//        position: relative;
//        @media all and (max-width: 1920px){
//            margin-right: px(80);
//        }
//        @media all and (max-width: 1024px){
//            position: relative;
//            width: 100%;
//            margin-right: 0;
//            display: flex;
//        }
//        &-close{
//            display: none;
//            position: absolute;
//            top: px(20);
//            right: px(20);
//            width: px(40);
//            height: px(40);
//            @media all and (max-width: 1024px){
//                display: block;
//            }
//            svg{
//                width: 100%;
//                height: 100%;
//            }
//        }
//        .menu{
//            display: flex;
//            align-items: center;
//            justify-content: center;
//            @media all and (max-width: 1024px){
//                flex-direction: column;
//            }
//            li{
//                margin: 0 24px;
//                @media all and (max-width: 1920px){
//                    margin: 0 px(24);
//                }
//                @media all and (max-width: 1440px){
//                    margin: 0 px(18);
//                }
//                @media all and (max-width: 1024px){
//                    margin: px(20) 0;
//                }
//                a{
//                    color: #000125;
//                    font-variant-numeric: lining-nums proportional-nums;
//                    font-size: 24px;
//                    font-style: normal;
//                    font-weight: 400;
//                    line-height: 100%;
//                    letter-spacing: normal;
//                    text-decoration: none;
//                    @media all and (max-width: 1920px){
//                        font-size: px(24);
//                    }
//                    @media all and (max-width: 1440px){
//                        font-size: px(20);
//                    }
//                    @media all and (max-width: 1024px){
//                        font-size: px(26);
//                    }
//                }
//            }
//        }
//    }
//    &__button{
//        text-decoration: none;
//        color: #000125;
//        font-size: 24px;
//        font-style: normal;
//        font-weight: 700;
//        line-height: 98.3%;
//        text-transform: uppercase;
//        @media all and (max-width: 1920px){
//            font-size: px(24);
//        }
//    }
//    &__language{
//        margin-left: 40px;
//        @media all and (max-width: 1920px){
//            margin-left: px(40);
//        }
//        @media all and (max-width: 1440px){
//            margin-left: px(30);
//        }
//        @media all and (max-width: 1024px){
//            margin-left: 0;
//            margin-top: 5vh;
//        }
//        ul{
//            display: flex;
//            align-items: center;
//        }
//        li{
//            &:first-child{
//                a{
//                    border-right: 1px solid #000125;
//                    padding-left: 0;
//                }
//            }
//            &:last-child{
//                a{
//                    border-right: none;
//                    padding-right: 0;
//                }
//            }
//            &.active{
//                a{
//                    span{
//                        font-weight: 800;
//                    }
//                }
//            }
//        }
//        a{
//            display: flex;
//            justify-content: center;
//            align-items: center;
//            padding-left: 20px;
//            text-decoration: none;
//            transition: 0.3s ease-in-out;
//            padding-right: 20px;
//            @media all and (max-width: 1920px){
//                padding-left: px(20);
//                padding-right: px(20);
//            }
//            span{
//                color: #000125;
//                font-size: 20px;
//                font-weight: 400;
//                text-transform: uppercase;
//                transition: 0.3s ease-in-out;
//                @media all and (max-width: 1920px){
//                    font-size: px(20);
//                }
//            }
//        }
//    }
//}