.history{
  &__container{
    @media all and (max-width: 1024px){
      padding: 0;
    }
  }
  .swiper-container{
    overflow: hidden;
  }
  &__slider{
    &-item{
      display: flex;
      flex-wrap: wrap;
    }
    &-img{
      width: 60%;
      @media all and (max-width: 768px){
        width: 100%;
      }
    }
    &-content{
      width: 40%;
      padding: 56px 76px;
      display: flex;
      flex-direction: column;
      @media all and (max-width: 1920px){
        padding: px(56) px(76);
      }
      @media all and (max-width: 768px){
        width: 100%;
        padding: px(24) px(35);
      }
      @media all and (max-width: 768px){
        width: 100%;
        padding: px(20);
      }
    }
    &-title{
      color: #000;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;
      margin-bottom: 64px;
      @media all and (max-width: 1920px){
        font-size: px(48);
        margin-bottom: px(64);
      }
      @media all and (max-width: 1024px){
        font-size: px(36);
        margin-bottom: px(34);
      }
      @media all and (max-width: 768px){
        font-size: px(34);
        margin-bottom: px(24);
      }
      @media all and (max-width: 500px){
        font-size: px(32);
        margin-bottom: px(14);
      }
    }
    &-desc{
      flex: 1;
      color: #000;
      font-size: 24px;
      margin-bottom: 40px;
      line-height: normal;
      @media all and (max-width: 1920px){
        font-size: px(24);
        margin-bottom: px(40);
      }
      @media all and (max-width: 1024px){
        font-size: px(20);
        margin-bottom: px(34);
      }
      @media all and (max-width: 768px){
        font-size: px(16);
        margin-bottom: px(24);
      }
      @media all and (max-width: 500px){
        font-size: px(14);
        margin-bottom: px(14);
      }
    }
    &-name{
      text-align: right;
      color: #000;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media all and (max-width: 1920px){
        font-size: px(36);
      }
      @media all and (max-width: 1024px){
        font-size: px(24);
      }
    }
  }
}
.swiper-nav{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .prev{
    margin-right: 20px;
    @media all and (max-width: 1920px){
      margin-right: px(20);
    }
    svg{
      width: 25px;
      height: 25px;
      @media all and (max-width: 1920px){
        width: px(25);
        height: px(25);
      }
    }
  }
  .next{
    svg{
      width: 38px;
      height: 35px;
      @media all and (max-width: 1920px){
        width: px(38);
        height: px(35);
      }
    }
  }
  div{
    cursor: pointer;
  }
}