.pages{
  margin-top: 114px;
  @media all and (max-width: 1920px){
    margin-top: px(117);
  }
  @media all and (max-width: 1024px){
    margin-top: px(80);
  }
  @media all and (max-width: 768px){
    margin-top: px(60);
  }
  &__title{
    color: #000125;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 64px;
    @media all and (max-width: 1920px){
      font-size: px(48);
      margin-bottom: px(64);
    }
    @media all and (max-width: 1024px){
      font-size: px(48);
      margin-bottom: px(54);
    }
    @media all and (max-width: 768px){
      font-size: px(28);
      margin-bottom: px(40);
    }
    @media all and (max-width: 480px){
      font-size: px(20);
      margin-bottom: px(20);
      br{
        display: none;
      }
    }
    strong{
      font-weight: 700;
    }
  }
  &__content{
    &-item{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      &:last-child{
        @media all and (min-width: 769px){
          .pages__content-item-desc{
            margin-bottom: 0;
          }
        }

        @media all and (max-width: 768px){
          .pages__content-item-lnk{
            margin-bottom: 0;
          }
        }
      }
      &-title{
        font-style: normal;
        font-weight: 400;
        font-size: 133px;
        line-height: 100%;
        text-transform: uppercase;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%), #000125;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        order: 1;
        @media all and (max-width: 1920px){
          font-size: px(133);
        }
        @media all and (max-width: 1024px){
          font-size: px(80);
        }
        @media all and (max-width: 768px){
          font-size: px(70);
        }
        @media all and (max-width: 480px){
          font-size: px(32);
        }
      }
      &-desc{
        order: 3;
        width: 100%;
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 64px;
        @media all and (max-width: 1920px){
          font-size: px(24);
          margin-bottom: px(64);
        }
        @media all and (max-width: 1024px){
          font-size: px(22);
        }
        @media all and (max-width: 768px){
          font-size: px(20);
          order: 2;
          margin-bottom: px(10);
        }
        @media all and (max-width: 480px){
          font-size: px(16);
        }
      }
      &-lnk{
        order: 2;
        max-width: 514px;
        width: 100%;
        margin-left: 40px;
        @media all and (max-width: 1920px){
          max-width: px(514);
          margin-left: px(40);
        }
        @media all and (max-width: 768px){
          order: 3;
          max-width: none;
          margin-bottom: px(60);
          margin-left: 0;
        }
      }
    }
  }
}