.video{
  max-height: 80vh;
  height: 1017px;
  background-color: transparent;
  margin: 114px auto;
  overflow: hidden;
  @media all and (max-width: 1920px){
    height: px(1017);
    margin: px(117) auto;
  }
  @media all and (max-width: 1024px){
    height: px(700);
    margin-top: px(80);
    margin-bottom: px(80);
  }
  @media all and (max-width: 768px){
    margin-top: px(60);
    max-height: 70vh;
    height: 100%;
    margin-bottom: px(40);
  }
  &__container{
    position: relative;
    height: 100%;
    padding: 60px 0;
    min-height: 520px;
    @media all and (max-width: 1920px){
      min-height: px(520);
    }
    @media all and (max-width: 480px){
      min-height: px(410);
    }
  }
  &__text{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__play{
    margin-bottom: 98px;
    width: 102px;
    height: 102px;
    @media all and (max-width: 1920px){
      margin-bottom: px(98);
    }
    @media all and (max-width: 1920px){
      width: px(102);
      height: px(102);
    }
    @media all and (max-width: 1024px){
      width: px(80);
      height: px(80);
    }
    @media all and (max-width: 768px){
      width: px(60);
      height: px(60);
      margin-bottom: px(38);
    }
    svg{
      width: 100%;
      height: 100%;
    }
  }
  &__preview{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    video{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__title{
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    @media all and (max-width: 1920px){
      font-size: px(48);
    }
    @media all and (max-width: 1024px){
      font-size: px(40);
    }
    @media all and (max-width: 768px){
      font-size: px(32);
    }
    @media all and (max-width: 480px){
      font-size: px(26);
    }
  }
  &__subtitle{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    @media all and (max-width: 1920px){
      font-size: px(48);
    }
    @media all and (max-width: 1024px){
      font-size: px(40);
    }
    @media all and (max-width: 768px){
      font-size: px(32);
    }
    @media all and (max-width: 480px){
      font-size: px(26);
    }
  }
  &__buttons{
    margin-top: 48px;
    @media all and (max-width: 1920px){
      margin-top: px(48);
    }
  }
}